@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
main{
  text-align: left;
  font-family: 'Inter', sans-serif;
}
body {
  font-family: 'Inter', sans-serif;
  color: black;
  background-color: aliceblue;
}

h2 {
   color: dodgerblue;
   font-weight: bold;
}
header {
    text-align: center;
    font-weight: bold;
    background-color:cornflowerblue;
    color: white;
}
.container {
  display: flex;
  gap: 70px;
}
footer{
  text-align: center;
}